
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    background-color: #87cefa;
    height: 100vh;
    padding-bottom: 6rem;
}
  
.register-form{
    padding: 5rem;
}

.form-group{
    padding-top: 0.6rem;
}

.btn-wide {
    width: 320px; 
  }

  @media (max-width: 576px) {
    .btn-wide {
      width: 100%; 
    }
  }
