
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
  
.register-form{
    padding: 5rem;
}

.form-group{
    padding-top: 0.5rem;
}
  