body{
    overflow-x: hidden;
}


.list{
    padding-top: 1rem;
    padding-bottom: rem;
    padding: 2rem;
}


.form-group{
    padding-top: 0.5rem;
}

.cart{
    padding-top: 5rem;
}

.card{
    width: 20rem;
}

.img-fluid{
    aspect-ratio: 3/3;
}